@forward 'vuetify' with (
  $font-size-root: 18px,
  // $text-field-details-padding-inline: 0px !ce,
);

html {
  overflow-y: auto !important;
}

.link-none {
  text-decoration: none;
}

.link-underline {
  text-decoration: none;
}

.link-underline:hover {
  text-decoration: underline;
}

.unread-tick {
  border-left: 25px solid transparent;
  border-right: 25px solid orange;
  border-bottom: 25px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 0;
  z-index: 2
}

.list-danger:hover {
  background: #ff5252;
}

.list-danger:hover .v-list-item__title {
  color: white;
}

.list-warning:hover {
  background: #fb8c00;
}

.list-warning:hover .v-list-item__title {
  color: white;
}

/* Taken from vue-line-clamp */
.clamp-line {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}
